@model IEnumerable<EventManager4.Models.League>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leagues List</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeagueName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeagueName)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.LeagueId }) 
           
        </td>
    </tr>
}

</table>
