@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<p>NILAY DESAI            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  |  EMAIL ID : nisargdesai88@gmail.com   </p>
<p>PREET GANDHI           &nbsp;&nbsp;&nbsp;&nbsp;  |  EMAIL ID : preetgandhi99@gmail.com</p>
<p>HARSH VADALIA         &nbsp;&nbsp;  |  EMAIL ID : harshvadalia1997@gmail.com</p>